@model Student

<h3>Student Detail</h3>

<table>
    <thead>
    <tr>
        <td width="200"> ID </td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td width="200"> Name </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td width="200"> Surname </td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td width="200"> Birth Date </td>
        <td>@Model.BirthDate.ToLongDateString()</td>
    </tr>
    </thead>
</table>

<table>
    <thead>
    <tr>
        <td>
            <a asp-controller="Student" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">
                Edit Student
            </a>
        </td>
        <td>
            <a asp-controller="Student" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this student?');">
                Remove Student
            </a>
        </td>
    </tr>
    </thead>
</table>